# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Next.js build output
.next
out

# Development files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# OS files
.DS_Store
*.pem

# IDE
.vscode
.idea

# Testing
coverage
.nyc_output

# Misc
.dockerignore
Dockerfile
README.md
.eslintrc.json

# Temporary files
*.log
tmp
temp